@{
    ViewBag.Title = "About Centric Consutling";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h2>We’ve always done things a little differently at Centric Consulting.</h2>

    We didn’t start in a conference room. Instead, we started on a couch. And we’ve grown our business on a set of three building blocks:

    Enjoy the people you work with, have fun, and do great work.

    Not only do these blocks serve as our model for consulting, but they’ve created a culture that values team unity and collaboration. We enjoy working together, alongside you, to create personalized solutions for your business.

    Learn more about who we are, what to expect when working with us, the core values that define us, and the leaders who shape us…
</p>
