@{
    ViewBag.Title = "Centric Consulting";
}

    <div class="jumbotron"style="background-color:grey;">
        <h1>Centric Consulting</h1>
            <p class="lead">Digital, business and technology consulting to transform your business</p>
            <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Our Story</h2>
                <p>
                    In 1999, three longtime friends came up with an idea. They envisioned a different kind of consulting firm – one that allowed them, and their employees, to get more out of life and make a better impact on others.
                </p>
                <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/our-story/">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Our Technologies</h2>
                <p><a class="btn btn-default" href="https://centricconsulting.com/technology-solutions/">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Our Insights</h2>
                <p>
                    Are you looking for expert, practical advice to solve your business and technology needs?

                    Do you want to hear our experts speak, or learn more about how we work?

                    Whatever your business or technology questions, you’ve come to the right place. Whether it’s news, events, articles, resources or client stories, we have so much to share with you.
                </p>
                <p><a class="btn btn-default" href="https://centricconsulting.com/insights-homepage/">Learn more &raquo;</a></p>
            </div>
        </div>
